body {
	min-height: 100%;
	font-family: Montserrat;
	margin: 0;
	padding: 0;
	height: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

#container{
	min-height: 100%;
	position: relative;
}

.parent{
	width: 100px;
}

.topbar {
	overflow: hidden;
	background-color: #33ccff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
}

.topbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	
}

.topbar a:hover {
	background: #0099cc;
	color: black;
		
}

.topbarRight {
	float: right;
	
}

.topSearch {
	position: fixed;
	top: 15px;
	left: 1400px;
	/* background-color: black; */
	width: 250px;
	height: auto; 
}

.slideshowBox{
	max-width: 2000px;
	width: 100%;
	position: relative;
	top: 52px;
}

.slides{
	display: none;
}


.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6 ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.buttonRow{
	position: relative;
	background: red;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	width: auto;
	/* margin-top: -22px; */
	padding: 20px;
	color: black;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6 ease;
	border-radius: 0 3px 3px 0;
	background: rgba(0, 0,0, 0.3);
}

.next {
	/* margin: auto 0; */
	left: 95%;
	/* top: 17px; */
} 

.prev {
	/* left: 554px; */
	/* top: 13px; */
}

.prev:hover, .next:hover {
	background: white;
}

.active, .dot:hover{
	background: #717171;
}

.productInfo {
	position: relative;
	text-align: justify;
	margin: 100px auto;
	height: auto;
	min-height: 100%;
	clear: both;
	width: 50%;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duraton: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.buyTickets{
	/* background-color: green; */
	height: 800px;
	min-height: 100%;
	width: 100%;
}

.cardColumn{
	background-color: white;
	float: left;
	width: 300px;
	height: 450px;
	margin: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardContainer{
	/* background-color: blue; */
	padding: 0 16px;
	overflow: hidden;
}

.cardContainer::after, .row::after{
	content: "";
	clear: both;
	display: table;
}

.cardButton{
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	width: 120px;
	height: 40px;
}

.buyTicketContainer{
	padding: 16px;

}

.modal{
	display: none; 
	position: fixed; 
	z-index: 5; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(71, 78, 93, 0.7);
	padding-top: 50px;
}

.modal-content{
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 40%;
}

.close{
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.close:hover{
	color: #2d2d2d;
}

.modalBtn{
	float: left;
	width: 50%;
	border: 0;
	color: white;
	padding: 15px;
	margin-left: 360px;
	background-color: black;
}

.modalBtn:active{
	/* background-color: #f1f1f1; */
	color: black;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
	min-height: 100%;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	clear: both;
	background-color: #efefef;
}

.column {
	float: left;
	width: 33.33%;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.rowTicket{	
	background-color: #d8d2d2;
	position: absolute;
	width: 100%;
	/* left: 180px; */
	/* box-shadow: inset 0 0 10px #000000; */
}

.cardImage{
	display: block;
	position: relative;
	width: 100%;
	height: 200px;
	background-color: skyblue;
	overflow: hidden;
}

.cardImage img{
	display: block;
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	top: 0;
}

.cardTitle{
	/* color: red; */
	/* background-color: blue; */
	width: 100%;
	height: 50px;
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100%;
  text-align: center; 
}
.fa-facebook {
  color:black;
  width: 50px;
  height: 30px;
  padding: 10px;
}

.fa-twitter {
  color:black;
  width: 50px;
  height: 30px;
  padding: 10px;
  
}

.fa-instagram {
  color:black;
  width: 50px;
  height: 30px;
  padding: 10px;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
	marign: 0;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@font-face {
	font-family: 'Montserrat', sans-serif;
}